annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
cffi==2.1.1
click==8.5.0
cryptography==50.0.1
ecdsa==0.19.2
fastapi==0.141.1
h11==0.16.0
idna==3.19
psycopg==3.3.5
psycopg-binary==3.3.5
pyasn1==0.6.4
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
python-dotenv==1.2.3
python-jose==3.5.0
rsa==4.9.1
six==1.17.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing_extensions==4.16.0
typing-inspection==0.4.4
uvicorn==0.52.4
